body{
  font-family: Arial, Helvetica, sans-serif;
}
.toDo-grid,
.toDo-inputs-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 10px;
  align-items: center;
}
.toDo-inputs-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.input-boxs{
  font-size: 15px;
  padding: 6px;
  border: 2px solid rgb(134, 133, 133);
  border-radius: 5px;
}
.add-button{
  font-size: 20px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  color: rgb(35, 35, 35);
  background-color: palegreen;
}
.delete-button{
  font-size: 20px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  color: rgb(20, 20, 20);
  background-color: rgb(255, 83, 118);
  padding: 5px 0px;
  letter-spacing: 0.5px;
}